.Header
  .Top
    .Top__Title
      もち
      =icon('fas','truck')
      デリ
    .Top__UserNav
      .Top__UserNav__Btn
        =link_to "ログイン", "#", class: "Top__UserNav__Btn--Post"
        =link_to "新規登録", "#", class: "Top__UserNav__Btn--Post"
    
  .Area
    %ul.Area__Region
      %li.Area__Region__Select
        関東▼
      %li.Area__Region__Select
        関西▼