.Header
  .Top
    .Top__Title
      もち
      =icon('fas','truck')
      デリ
    .Top__UserNav
      - if user_signed_in?
        .Top__UserNav__Btn
          =link_to "投稿する", new_article_path, class: "Top__UserNav__Btn--Post"
          =link_to "マイページ", "/users/#{current_user.id}", class: "Top__UserNav__Btn--Post"
          =link_to "ログアウト", destroy_user_session_path, class: "Top__UserNav__Btn--Post", method: :delete
      - else
        .Top__UserNav__Btn
          =link_to "ログイン", new_user_session_path, class: "Top__UserNav__Btn--Post"
          =link_to "新規登録", new_user_registration_path, class: "Top__UserNav__Btn--Post"
    
  .Area
    .Area__Region
      =link_to "関東▼", "/articles"