.Header
  .Top
    .Top__Title
      .Top__Title__Theme
      もち
      =icon('fas','truck')
      デリ
      .Top__Title__Search
      = form_with(url: search_articles_path, local: true, method: :get) do |f|
        = f.text_field :keyword, placeholder: "投稿を検索する",class: "Top__Title__Search__Form"
    .Top__UserNav
      - if user_signed_in?
        .Top__UserNav__Btn
          =link_to "投稿", new_article_path, class: "Top__UserNav__Btn--Post"
          =link_to "マイページ", "/users/#{current_user.id}", class: "Top__UserNav__Btn--Post"
          =link_to "ログアウト", destroy_user_session_path, class: "Top__UserNav__Btn--Post", method: :delete
      - else
        .Top__UserNav__Btn
          =link_to "ログイン", new_user_session_path, class: "Top__UserNav__Btn--Post"
          =link_to "新規登録", new_user_registration_path, class: "Top__UserNav__Btn--Post"
    
  .Area
    .Area__Region
      .Area__Region__Select
        =link_to "関東▼", controller: "articles", action: "index", area_id: 1

      .Area__Region__Select
        =link_to "関西▼", controller: "articles", action: "index", area_id: 2

      .Area__Region__Select
        =link_to "北海道▼", controller: "articles", action: "index", area_id: 3

      .Area__Region__Select
        =link_to "東北▼", controller: "articles", action: "index", area_id: 4
      
      .Area__Region__Select
        =link_to "北陸信越▼", controller: "articles", action: "index", area_id: 5

      .Area__Region__Select
        =link_to "東海▼", controller: "articles", action: "index", area_id: 6
      
      .Area__Region__Select
        =link_to "中国▼", controller: "articles", action: "index", area_id: 7

      .Area__Region__Select
        =link_to "九州▼", controller: "articles", action: "index", area_id: 8

.Main
  .Article
  - @articles.each do |article|
    = link_to image_tag(article.image.url, class: "Article__Image"), article_path(article.id), method: :get