.Contents
  .Contents__Title
    = @name
    さんの投稿一覧
    =link_to root_path do
      =icon('fas','home')

.Main
  .Article
    - @articles.each do |article|
      = link_to image_tag(article.image.url, class: "Article__Image"), article_path(article.id), method: :get