* {
  box-sizing: border-box;
}

// 新規投稿、編集のヘッダー
.Contents {
  text-align: center;
  color: gray;
  font-size: 30px;
  font-family: 'Hiragino Maru Gothic ProN';
  padding: 10px;
  color: white;
  background-color: orange;
  a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
  }
}

//入力フォーム
.formContents {
  display: flex;
  justify-content: center;
  height: 900px;
}

h2 {
  margin-top: 20px;
}

span.requireBox {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.restaurant {
  width: 400px;
}

.menu, .rule {
  width: 400px;
  height: 100px;
}

.image {
  font-size: 150px;
  color: lightgray;
  margin-left: 120px;
  .hidden {
    display: none;
  }
}

.categoryWrapper__box--select {
  width:400px;
  height: 30px;
}

// ancestry子要素
// .categoryWrapperEdit__box--select {
//   width:400px;
//   height: 30px;
// }

.newArticles__btn {
  text-align: center;
}

.submit-btn {
  width: 300px;
  background-color: orange;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 5px;
}

.submit-btn:hover {
  opacity: 0.75;
}
