* {
  box-sizing: border-box;
}

.Contents {
  text-align: center;
  color: gray;
  font-size: 30px;
  font-family: 'Hiragino Maru Gothic ProN';
  &__Title {
    padding: 10px;
    color: white;
    background-color: mediumpurple;
  }
  .Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin-top: 20px;
    &__Radio {
      display: inline_flex;
    }
    .image {
      .hidden {
        display: none;
      }
    }
    &__Restaurant {
      border-radius: 10px;
      border: 2px solid gray;
      width: 50%;
      margin: 20px 0 20px 0;
      padding: 5px;
    }
    &__Instagram {
      border-radius: 10px;
      border: 2px solid gray;
      width: 50%;
      margin-top: 20px;
      padding: 5px;
    }
    &__Menu, &__Rule {
      border-radius: 10px;
      border: 2px solid gray;
      height: 100px;
      width: 50%;
      margin-top: 20px;
      padding: 5px;
    }
    &__Btn {
      border-radius: 10px;
      border: 2px solid gray;
      width: 50%;
      margin-top: 20px;
      background-color: mediumpurple;
      color: white;
    }
  }
}
