.Notification {
  .notice {
    background-color: lightskyblue;
    color: black;
    text-align: center;
  }

  .alert {
    background-color: lightsalmon;
    color: black;
    text-align: center;
  }
}