// ユーザー新規登録、ログイン
.AccountPage {
  width: 600px;
  margin: 40px auto;
  padding: 30px 60px;
  background-color: orange;
  border-radius: 5px;
  text-align: center;
}

.AccountPage__title {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: white;
}

.FormField {
  margin-bottom: 10px;
  color: white;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    margin-left: 40px;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 400px;
      padding: 10px;
      letter-spacing: 1px;
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  margin: 10px;
}

.acount-redirect {
  color: white;
  a {
    color: white;
  }
}