.Header {
  height: 100px;
  
  .Top {
    height: 60px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    &__Title {
      color: white;
      font-size: 30px;
    }
    &__UserNav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 20px;
      margin: 10px;
      padding-bottom: 7px;
      &__Btn {
        &--Post {
          border-radius: 20px;
          background-color: white;
          padding: 15px 20px;
        }
      }
      a {
        text-decoration: none;
        color: orange;
      }
    }
  }
  
  .Area {
    height: 40px;
    background-color: wheat;
    font-size: 20px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      margin-left: 20px;
    }
  }
}