.Main {
  height: calc(100vh - 100px);
  overflow: scroll;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  .Article {
    position: absolute;
    top: 20px;
    text-align: left;
    width: 770px;
    &__list {
    }
  }
}

.main-image {
  // position: absolute;
  height: 240px;
  border-radius: 10px;
  margin-left: 5px;
}