.Main {
  height: calc(100vh - 100px);
  overflow: scroll;
  .Article {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 800px;
    &__list {
      margin-top: 20px;
    }
    &__Image {
      // position: absolute;
      height: 240px;
      border-radius: 10px;
      margin-left: 10px;
    }
  }
}