// 商品一覧
.Main {
  height: calc(100vh - 100px);
  overflow: scroll;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  .Article {
    position: absolute;
    top: 20px;
    text-align: left;
    width: 1010px;
    &__list {
    }
  }
}

.main-image {
  // position: absolute;
  height: 240px;
  border-radius: 10px;
  margin-left: 5px;
}

// 投稿ボタン
.sellBtn {
  position: relative;
  &__link {
    position: fixed;
    height: 150px;
    width: 150px;
    bottom: 30px;
    right: 30px;
    text-align: center;
    border-radius: 4%;
    color: #fff;
    border: none;
    transition: 0.5s;
    font-size: 30px;
    text-decoration: none;
    &__text {
      position: absolute;
      bottom: 50px;
      right: 25px;
      font-size: 25px;
      font-weight: bold;
      padding: 15px 0 5px 0;
    }
    &__icon {
      height: 150px;
      width: 150px;
    }
  }
}

.sellBtn:hover {
  opacity: 0.75;
}