.Contents{
  &__Title {
    background-color: orange;
    color: white;
    width: 100%;
    font-family: 'Hiragino Maru Gothic ProN';
    padding: 10px 0;
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
  }
}

.Restaurant {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  font-size: 40px;
  margin-top: 30px;
  padding-left: 30px;
  font-family: 'Hiragino Maru Gothic ProN';
}

ul {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  a {
    text-decoration: none;
    color: gray;
  }
  li {
    margin: 10px;
  }
}

.Article2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: 'Hiragino Maru Gothic ProN';
  color: gray;
  &__Img {
    position: relative;
    display: flex;
    &__Image2 {
      height: 300px;
      width: 300px;
      border-radius: 20px;
    }
    .element {
      position: absolute;
      top: 75%;
      left: 75%;
    }
  }
  &__Contents {
    margin-left: 30px;
    &__Title {
    font-size: 25px;
    color: mediumvioletred;
    }
    &__Show {
      font-size: 20px;
    }
    &__Logo {
      width: 300px;
      font-size: 20px;
    }
    &__Btn {
      text-decoration: none;
      border-radius: 20px;
      height: 100px;
      color: #fff;
      font-size: 30px;
      padding: 10px;
      a {
        text-decoration: none;
      }
      &--Icon{
        padding-right: 10px;
      }
      &--Instagram {
        /*background-color: #fc76bf;*/
        color: #FFF;/*文字・アイコン色*/
        border-radius: 30px;/*角丸に*/
        position: relative;
        display: inline-block;
        height: 50px;/*高さ*/
        width: 250px;/*幅*/
        text-align: center;/*中身を中央寄せ*/
        font-size: 25px;/*文字のサイズ*/
        padding-bottom: 60px;
        line-height: 50px;/*高さと合わせる*/
        background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
        overflow: hidden;/*はみ出た部分を隠す*/
        text-decoration:none;/*下線は消す*/
      }
    }
  }
}
